<table align="center" width="800px" style="border:3px  groove #FFF " >
  <tr>
    <td style="background-color:#F3C">
    User
    </td>
    <td style="background-color:#F3C">
      Title
    </td>
    <td style="background-color:#F3C">
      Content
    </td>
    <td colspan = "3 "></tr>
<% if user_signed_in? %> 

  <% @articles.each do |f| %>

    <tr>
      <td>
        <%=f.user.email%>
      </td>
      <td>
        <%= f.title %>
      </td>
      <td>
        <%= truncate(f.content, length: 50)%>
      </td>
      <td>
        <%= link_to "show",article_path(f)%>
      </td>

      <td>
      <% if current_user.id == f.user.id %>
        <%= link_to 'Edit', edit_article_path(f) %>
      <% end %>
      </td>
      <td>
        
      </td>
  <% end %>   
<% else %>
  <% @articles.each do |f| %>

    <tr>
      <td>
        <%=f.user.email%>
      </td>
      <td>
        <%= f.title %>
      </td>
      <td>
        <%= truncate(f.content, length: 50)%>
      </td>
      <td>
        <%= link_to "show",article_path(f)%>
      </td>

      <td>
      
      </td>
      <td>
        
      </td>
  <% end %> 
<% end %> 


</table>
