<h2 class="list-group-item list-group-item-info">
  <%= @article.title %>
</h2>
<div class="article-content">
	<p class="panel panel-info">
	<%= image_tag @article.image.url(:large) %><br/>
    <%=@article.content %>
    
  </p>
</div>
<div class="article-footer">
	Đăng bởi <%= @article.user.email %>, Cách đây <%= time_ago_in_words(@article.created_at) %>
	<% if user_signed_in? && current_user == @article.user %>
		<%= link_to 'Edit', edit_article_path(@article) %>
	<% end %>
</div>
<% if user_signed_in? %>
	<div class="comment-form">
		<%= form_for [@article, @comment] do |f| %>
			<%= f.text_area :content, placeholder: 'Bình luận của bạn', size:'72.5x2' %>
			<%= f.submit 'Lưu' %>
		<% end %>
	</div>
<% else %>
	<p class="btn btn-danger"><%= link_to "Hãy đăng nhập để bình luận", new_user_session_path %></p>
<% end %>
<br/>
<div class="comments">
	<p class="label label-default">Có <%= @comments.count %> bình luận:</p>
	<% @comments.each do |comment| %>
		<div class="comment">
			<div class"comment-content">
				<h2><span class="label label-primary"><%=comment.content %></span></h2>
			</div>
			<div class="comment-info">
				Bởi <%= comment.user.email %>, cách đây <%= time_ago_in_words(comment.created_at) %>
			</div>
		</div>
	<% end %>
</div>
<%= paginate @articles %>