
<% if user_signed_in? %> 
  <% @articles.each do |f| %>
    <div class="form-group has-success">
      <span class="title">
        <%= link_to truncate(f.title, length: 20), article_path(f)%>
      </span>
      <div>
      <%= image_tag f.image.url(:large)%>
      </div>
      <span id="helpBlock" class="help-block">
        <%= truncate(f.content, length: 300)%>
      </span><br/>
       
      <div class="article-stats">
        <span class="glyphicon glyphicon-eye-open"></span> 
        <%= f.views_count%> lượt
        <span class="glyphicon glyphicon-comment"></span>
        <%= f.comments.count %> bình luận
        <%= render 'articles/vote_buttons', article: f %>
      </div>
      <br>
      Đăng bởi <%= f.user.email %>, Cách đây <%= time_ago_in_words(f.created_at) %>
      <%= link_to "show",article_path(f)%>
      <% if current_user.id == f.user.id %>
        <%= link_to 'Edit', edit_article_path(f) %>
      <% end %><br/><br/>
    </div>
  <% end %>
<% else %>
  <% @articles.each do |f| %>
    <div class="form-group has-success">
    <span class="title">
        <%= link_to truncate(f.title, length: 20), article_path(f)%>
      </span>
      <div>
      <%= image_tag f.image.url(:large)%>
      </div>
      <span id="helpBlock" class="help-block">
        <%= truncate(f.content, length: 300)%>
      </span><br/>
       
      <div class="article-stats">
        <span class="glyphicon glyphicon-eye-open"></span> 
        <%= f.views_count%> lượt<br>
        <span class="glyphicon glyphicon-comment"></span>
        <%= f.comments.count %> bình luận
        <%= render 'articles/vote_buttons', article: f %>
      </div><br/>
    Đăng bởi <%= f.user.email %>, Cách đây <%= time_ago_in_words(f.created_at) %>
    <%= link_to "show",article_path(f)%>
    <br/><br/>
  </div>
  <% end %>
<% end %>

<%= paginate @articles %>