<% if user_signed_in? %> 
  <% @articles.each do |f| %>
    <label class="control-label col-sm-3" for="inputSuccess3">
      <%= f.title %>
    </label><br/>

    <span id="helpBlock" class="help-block">
      <%= truncate(f.content, length: 50)%>
    </span>
    Đăng bởi <%= f.user.email %>, Cách đây <%= time_ago_in_words(f.created_at) %>
    <%= link_to "show",article_path(f)%>
    <% if current_user.id == f.user.id %>
      <%= link_to 'Edit', edit_article_path(f) %>
    <% end %><br/><br/>
  <% end %>
<% else %>
  <% @articles.each do |f| %>
    <label class="control-label col-sm-3" for="inputSuccess3">
      <%= f.title %>
    </label><br/>

    <span id="helpBlock" class="help-block">
      <%= truncate(f.content, length: 50)%>
    </span>
    Đăng bởi <%= f.user.email %>, Cách đây <%= time_ago_in_words(f.created_at) %>
    <%= link_to "show",article_path(f)%>
    <br/><br/>
  <% end %>
<% end %>
