
<table align="center" width="800px" style="border:3px  groove #FFF " >
  <tr>
    <td style="background-color:#F3C">
    User
    </td>
    <td style="background-color:#F3C">
      Title
    </td>
    <td style="background-color:#F3C">
      Content
    </td>
    <td colspan = "3 "></tr>
<% @articles.each do |f| %>

  <tr>
    <td>
    	<%= f.user_id %>
    </td>
    <td>
      <%= f.title %>
    </td>
    <td>
      <%= truncate(f.content, length: 50)%>
    </td>
    <td>
      <%= link_to "show",article_path(f)%>
    </td>
    <td>
      <%= link_to "edit",edit_article_path(f)%>
    </td>

<% end %>
</table>
