<% if user_signed_in? %> 
  <% @articles.each do |f| %>
    <div class="form-group has-success">
      <label class="control-label col-sm-3" for="inputSuccess3">
        <%=truncate(f.title, length: 20)%>
      </label>
      <%= image_tag f.image.url(:thumb)%>
      <span id="helpBlock" class="help-block">
        <%= truncate(f.content, length: 140)%>
      </span><br/>
      Đăng bởi <%= f.user.email %>, Cách đây <%= time_ago_in_words(f.created_at) %>
      <%= link_to "show",article_path(f)%>
      <% if current_user.id == f.user.id %>
        <%= link_to 'Edit', edit_article_path(f) %>
      <% end %><br/><br/>
    </div>
  <% end %>
<% else %>
  <% @articles.each do |f| %>
    <div class="form-group has-success">
    <label class="control-label col-sm-3" for="inputSuccess3">
        <%=truncate(f.title, length: 20)%>
      </label>

    <span id="helpBlock" class="help-block">
      <%= image_tag f.image.url(:thumb)%>
      <%= truncate(f.content, length: 140)%>
    </span><br/>
    Đăng bởi <%= f.user.email %>, Cách đây <%= time_ago_in_words(f.created_at) %>
    <%= link_to "show",article_path(f)%>
    <br/><br/>
  </div>
  <% end %>
<% end %>
<%= paginate @articles %>